.button{
    color: $white;
    background-color: $nickel;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: $medium;
    border: none;
}

.main-button-size-s{
    &:hover{
        background-color:$lightgray;
    }

    &:focus{
        border: 3px solid $nickel;
     }
}

.main-button-size-lg{
    &:hover{
        background-color: $lightgray;
    }

    &:focus{
       border: 3px solid $nickel;
    }
}