.header{
    height: 86vh;
    background-color: $white;
    background-image: url("../img/post-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 60rem;
}

.header-icono-size-lg{
    font-size: 40px;
}

